* {
    box-sizing: border-box;
  }
  header{
    color:red;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    }
  body{
      background-image: url("llamadefuego.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left center;
  }
      .types{
          width: 230px;
          height:130px ;
          float: left;
          margin:auto ;
          border-width: 5px;
          border-style:groove;
          border-color: navajowhite;
      }
      .format{
          background-image: url("marmol2.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          border-width: 6px;
          border-style: outset;
          border-radius: 9px;
          border-color: burlywood;
          padding: 12px;
          overflow: auto;
          margin-right: 200px;
          margin-bottom: 60px;
      }
      h2{
          text-align: center;
          color: tan;
          margin-top: -7px;
          font-size: 180%;
      }
      p {
          margin-left: 260px;
          margin-right: 50px;
          color: rgb(255, 255, 255);
          font-family: Arial, Helvetica, sans-serif;
      }
      h1{
          color: antiquewhite
      }