header{
    color:red;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
       }
* {
    box-sizing: border-box;
    }
      
body{
    background-image:url("background.jpg")  
      }
.totalinfo{
    background-image: url("background2.jpg");
    background-size: 370px 215px; 
    background-repeat:no-repeat;
    width: 30%;
    padding: 10px;
    text-align: center;
    border-style: outset;
    border-color: rgb(112, 112, 111);
    border-width: 7px;}
      
#info1{
    position:absolute;
    right:10%;
    float: right;
        }
#info2{   
    position: absolute;
    left: 10%;
        }
#info3{
    position: absolute;
    top: 55%;
    right: 10%;
    float: right;
        }
#info4{
    position: absolute;
          top: 55%;
          left: 10%;
         }
.nombres{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: aliceblue
}
.picture{
    height:150px ;
    width: 250px ;
}

#imganswer , #txtanswer{
    display: block;
    margin-left: 10%;
    margin-top: 2%;
}
#answer{
   text-align: left;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 20px;
   color: black;
}
#imgverificar{
    width: 100px;
    height:72px;
}
.option1{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    text-align: center;
    margin-bottom: 17px;
}
.checkmark {
    position: absolute;
    top: 6px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 20px;
}
.option1 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.option1:hover ~ .checkmark{
    background-color: gray;
  }
.option1 :checked ~ .checkmark {
    background-color: #2196F3;
  }
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .option1 :after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    background-color: #2196F3
  }
#casilla{
    position: absolute;
    left: 80%;
    bottom: -765%;
    border: none;
    width: 170px;
    height: 70px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#textoquiz{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: -10px;
}
#empezarquiz{
    position: absolute;
    right: 18%;
    top:11%;
    font-size: 30px;
    background-color: #2196F3;
    border:none;
    text-decoration: none;
    border-radius: 25px;
}
#empezarquiz :hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.option1{
    position: relative;
    margin-left: 36%;
    margin-right: 45%;
    bottom: 165px;
    text-align: center;
    border: none; 
    border-radius: 20px;
    background-color: #ccc
}
@media only screen and (max-width:500px) {
    .option1 {
      position: relative;
      bottom: 0px;
      margin-left: 10%;
      margin-right: 10%;
    }
}
#total{
     font-size:5vw;
     font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}
@media only screen and (max-width:500px) {
    #casilla {
      position: relative;
      left: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
}
@media only screen and (max-width:500px) {
    #imganswer{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}